# BLU06 - Learning Notebook - Data wrangling workflows - Part 3 of 3

In [1]:
import matplotlib.pyplot as plt
plt.style.use('seaborn')

import pandas as pd
import os

import warnings
warnings.filterwarnings('ignore')

from category_encoders.ordinal import OrdinalEncoder

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.cluster import KMeans
from sklearn.preprocessing import Imputer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

# 3 Advanced pipelines in scikit-learn

Remember our workflow diagram? Let's look at it again.

![data_transformation_workflow](../media/data_processing_workflow.png)

*Fig 1. - A standard workflow (again).*

Pandas, as amazing as it is, can only take us so far.

There, beyond the known universe, lies **modeling**.

Where we are at this point:
* We are to perform transformations on data, setting up robust pipelines using nothing but Pandas
* We can combine different data frames, to enrich our datasets or generate new ones.

Thus, here we are, modeling lying ahead of us. What's exactly new about modeling though?

We will be using the same dataset, but this time we will create a train-test split, as we would do before modeling.

In [2]:
works = pd.read_csv('../data/works.csv')
X_train, X_test = train_test_split(works)

## 3.1 How is modeling different from transformation

In Pandas, we merely transformed the original data frame into a new one.

But sometimes, this isn't possible. Let's start with an example: encoding categorical variables.

Remember: we need to perform the same transformations on train and test data (and whatever data comes next).

In [3]:
def transform_data(df):
    df = df.copy()
    df = (df.pipe(remove_intervals)
            .pipe(label_encoder, 'ComposerName'))
    return df


def remove_intervals(df):
    df = df.copy()
    mask = df['Interval'].isnull()
    df = (df.loc[mask, :]
            .drop(columns='Interval'))
    return df
    

def label_encoder(df, column):
    df = df.copy()
    df[column + 'Encoded'] = df[column].astype('category').cat.codes
    return df


X_train_ = transform_data(X_train)

train_alban_berg = X_train_['ComposerName'] == 'Berg,  Alban'
(X_train_.loc[train_alban_berg, ['ComposerName', 'ComposerNameEncoded']]
         .drop_duplicates())

       ComposerName  ComposerNameEncoded
23832  Berg,  Alban                  173

All is good. We removed the intermissions (just like we did previously), and we transformed the original data frame.

For convenience, we are keeping only the `ComposerName` and `ComposerNameEncoded` columns and removing duplicates.

Let's do the same to the test data.

In [4]:
X_test_ = transform_data(X_test)

test_alban_berg = X_test_['ComposerName'] == 'Berg,  Alban'
(X_test_.loc[test_alban_berg, ['ComposerName', 'ComposerNameEncoded']]
        .drop_duplicates())

       ComposerName  ComposerNameEncoded
26298  Berg,  Alban                   99

Do you see the problem? The same `ComposerName` can (and will, in all probability) get different encodings.

This problem is significant, as it would lead us to make wrong predictions!!

There are other cases in which problems arise. For instance, when replacing missing values with the mean:
* You are supposed to compute the mean on the training set and use it to transform both train and test sets
* Otherwise, you end up underestimating your correct generalization error.

This particular unit is not about modeling at a conceptual level, but you get the point: 
* Somehow, you need to fit the transformer on your training data first (e.g., define the encodings, compute the means)
* Transform both train and test sets (and any data that might come in, really) using the pre-fitted transformers.

These transformations are more like modeling. In fact, all of this *is* modeling and part of your model. 

How do we solve this? **We need transformers that are more like models.**

## 3.2 Meet the sklearn-like transformers

There are at three fundamental verbs in scikit-learn and sklearn-like libraries:
* `.fit()`
* `.transform()`
* `.predict()`.

You are already familiar with `.fit()` and `.predict()`, from the Bootcamp and the Hackathon #1.  We use them to train models and make predictions.

Here, we will explore a new combo: `.fit()` and `.transform()`. This is how it works.

![sklearn_like_transformation_pipeline](../media/sklearn_like_transformation_pipeline.png)

*Fig 2. - A data pipeline with consistent transformers, fitted on the training set.*

In short, we fit a transformer on the training data and use to transform the training data.

We will, however, return the transformer so we can use it to transform new, incoming data as well. Confusing? Perhaps.

Time to get practical: meet the `categorical_encoders`, a set of transformers for encoding categorical variables.

In [5]:
encoder = OrdinalEncoder(cols=['ComposerName'])
X_train_ = encoder.fit_transform(X_train)
X_train_.head()

,GUID,ProgramID,WorkID,MovementID,WorkTitle,Movement,ConductorName,Interval,ComposerName
56951,fef20825-5c9d-42a4-beb6-31bd06fad6c4,1768,50025,NaN,"ROMEO AND JULIET, FANTASY-OVERTURE",NaN,"Stokowski, Leopold",NaN,1
81899,1f5426fc-d0b5-4d47-878f-687268029b8c,1333,3219,NaN,SHALL WE DANCE: PROMENADE (ORCHESTRA) (ARR. Mo...,NaN,"Kostelanetz, Andre",NaN,2
4401,42e2ca7f-1538-438e-b870-4f259508179f,4831,52095,NaN,"SYMPHONY NO. 9, D MINOR",NaN,"Klemperer, Otto",NaN,3
11511,1bee1afa-6029-4ded-8c99-2cde506b5dd4,13282,52446,NaN,"SYMPHONY NO. 5 IN C MINOR, OP.67",NaN,"Masur, Kurt",NaN,4
19372,c3a9c6d8-44d7-49e4-a0cb-3c1778d5f224,818,51658,1.0,"SYMPHONY NO. 39, E-FLAT MAJOR, K.543",Adagio – Allegro,"Ganz, Rudolph",NaN,5

We can now use transform our test set.

In [6]:
X_test_ = encoder.fit_transform(X_test)
X_test_.head()

,GUID,ProgramID,WorkID,MovementID,WorkTitle,Movement,ConductorName,Interval,ComposerName
45154,d2308474-9204-492a-8a78-91fdd58faa89,11501,0,NaN,NaN,NaN,NaN,Intermission,11
1324,8c4dfbe0-a935-4801-9f1f-7d259e3b8d81,8389,50064,NaN,"SYMPHONY NO. 4, F MINOR, OP. 36",NaN,"Damrosch, Walter",NaN,1
33283,36f310ef-c36f-4ea1-a17c-6882e4c4048f,1898,0,NaN,NaN,NaN,NaN,Intermission,11
22217,f8cf9e62-cd27-4c0d-9b50-44d12fa67f1a,6532,52577,NaN,"SYMPHONY NO. 4, A MAJOR, OP. 90 (ITALIAN)",NaN,"Wallenstein, Alfred",NaN,38
30396,8ef7ca1d-f6c1-439c-8cc7-46847978a495,8865,50295,NaN,FANTASIA ON A THEME BY THOMAS TALLIS,NaN,"Pollain, Rene",NaN,100

Let's re-do our transformer functions so that they can either fit a transformer or accept a pre-fitted one.

We have to change our `label_encoder()` first to incorporate this logic. Then we need to adapt `transform_data()`.

In [7]:
def transform_data(df, encoder=None):
    df = df.copy()
    df, encoder = (df.pipe(remove_intervals)
                     .pipe(label_encoder, 'ComposerName', encoder))
    
    return df, encoder


def label_encoder(df, columns, encoder=None):
    if not encoder:
        encoder = OrdinalEncoder(cols=[columns])
        encoder.fit(df)
        
    preview_encodings(encoder)

    df = df.copy()
    df = encoder.transform(df)

    return df, encoder

    
def preview_encodings(encoder):
    encodings = encoder.category_mapping[0]['mapping'][:4]
    print('Encodings: {}'.format(encodings))
    return None

X_train_, encoder = transform_data(X_train)

Encodings: [('Tchaikovsky,  Pyotr  Ilyich', 1), ('Gershwin,  George', 2), ('Bruckner,  Anton', 3), ('Beethoven,  Ludwig  van', 4)]

In the code above, we changed our functions so that they can receive an encoder. 

Otherwise, they fit and return the new one for re-use.

From a consistency standpoint, things should be looking good. Nonetheless, you are previewing the encoder as a sanity check.

In [8]:
X_test_ = transform_data(X_test, encoder=encoder)

Encodings: [('Tchaikovsky,  Pyotr  Ilyich', 1), ('Gershwin,  George', 2), ('Bruckner,  Anton', 3), ('Beethoven,  Ludwig  van', 4)]

What kind of transformations do you need to perform this way? Some widespread ones are:
* Encoding (as we've seen)
* Scaling
* Vectorization (you will learn about this in the next specialization!)
* Missing data imputation.

Now, this changes things (right?):
* We lose the ability to do method chaining, as we have to return encodings as intermediate outputs
* We need to segregate pipelines for training (fit and transform) and test (transform), which adds complexity and it's error-prone.

Because we will perform the same transformations on all datasets, storing all the correct steps is critical for reproducibility and consistency.

It turns out, scikit-learn provides us with a distinctive take on pipelines, to wrap all of this in a single META-TRANSFORMER.

![megazord](../media/megazord.png)

*Fig 3. - A meta-transformer in practice.*

Meet the Megazord.

## 3.3 Pipelines

The sklearn's `Pipelines` provide a higher level of abstraction than the individual building blocks.

Let's tie together all these sequential transformers and run `Megazord.fit()` and `Megazod.transform()` on the whole thing.

That would make managing our code much easier, right? Let's do it:
* We want to replace the missing values with the mode
* We want to one-hot-encode all categorical variables.

First things first, some Pandas magic: let's drop the ID columns and exclude the intervals.

In [9]:
def prepare_data(df):
    df = df.copy()
    df = (df.pipe(drop_id_fields)
            .pipe(remove_intervals)
            .drop_duplicates())
    return df

def drop_id_fields(df):
    columns = ['GUID', 'ProgramID', 'WorkID', 'MovementID']
    df = df.copy()
    df = df.drop(columns=columns)
    return df

X_train_ = prepare_data(X_train)
X_train_.head()

,ComposerName,WorkTitle,Movement,ConductorName
56951,"Tchaikovsky, Pyotr Ilyich","ROMEO AND JULIET, FANTASY-OVERTURE",NaN,"Stokowski, Leopold"
81899,"Gershwin, George",SHALL WE DANCE: PROMENADE (ORCHESTRA) (ARR. Mo...,NaN,"Kostelanetz, Andre"
4401,"Bruckner, Anton","SYMPHONY NO. 9, D MINOR",NaN,"Klemperer, Otto"
11511,"Beethoven, Ludwig van","SYMPHONY NO. 5 IN C MINOR, OP.67",NaN,"Masur, Kurt"
19372,"Mozart, Wolfgang Amadeus","SYMPHONY NO. 39, E-FLAT MAJOR, K.543",Adagio – Allegro,"Ganz, Rudolph"

In [10]:
X_test_ = prepare_data(X_test)
X_test_.head()

,ComposerName,WorkTitle,Movement,ConductorName
1324,"Tchaikovsky, Pyotr Ilyich","SYMPHONY NO. 4, F MINOR, OP. 36",NaN,"Damrosch, Walter"
22217,"Mendelssohn, Felix","SYMPHONY NO. 4, A MAJOR, OP. 90 (ITALIAN)",NaN,"Wallenstein, Alfred"
30396,"Vaughan Williams, Ralph",FANTASIA ON A THEME BY THOMAS TALLIS,NaN,"Pollain, Rene"
3102,"Mozart, Wolfgang Amadeus","MARRIAGE OF FIGARO, THE, K.492",Overture,"Furtwangler [Furtwängler], Wilhelm"
28645,"Wagner, Richard",LOHENGRIN,"""Einsam in truben Tagen...In Lichter Waffen Sc...","Stransky, Josef"

Here's how we are going to do:
1. Create an `Imputer` that replace missing values with the mode of the column
2. Use said `Imputer` to impute the missing values
3. Ordinal encode all the categorical features.

All in one, single, amazing, Megazord.

## 3.4 Custom transformers

We can build own custom transformers, for as long as they follow the usual blueprint:
* Implement `Transformer.fit()`
* And `Transformer.transform()`.

All scikit-learn estimators have `get_params()` and `set_params` functions. 

The easiest way to implement these functions sensibly is to inherit from `sklearn.base.BaseEstimator`, as we're doing.

And `Pipeline` compatibility requires a `fit_transform()` method that we are inheriting from `sklearn.base.TransformerMixin`.

In [11]:
class FeatureMultiplier(BaseEstimator, TransformerMixin):
    def __init__(self, some_parameter):
        self.some_parameter = some_parameter

    def fit(self, X, y=None):
        # Fit the transformer and store it.
        return self
        
    def transform(self, X):
        # Transform X.
        return X

Also, we may want our transformer to accept some parameters.

That's we are doing when we include `some_parameter` in the `__init__`.

Back to our transformers. Our blueprint:
* We want the estimator to be able to take a `strategy` parameter, although we will support only the mode
* Fitting requires taking the mode of each column and storing it
* Transform implies replacing missing values with the given column modes.

How are we going to compute the modes? Pandas, as always, provides a convenient `.mode()` method.

In [12]:
X_train_.mode()

              ComposerName WorkTitle  Movement     ConductorName
0  Beethoven,  Ludwig  van   MESSIAH  Overture  Damrosch, Walter

To be able to use indexing we will use `df.squeeze()`, a convenient method to transform our data frame into a `pd.Series`.

In [13]:
X_train.mode().squeeze()

GUID             884c64d6-1768-4cf1-85f1-0ac2f79bbe5c
ProgramID                                       10608
WorkID                                              0
MovementID                                          1
ComposerName                         Wagner,  Richard
WorkTitle                  MEISTERSINGER, DIE, WWV 96
Movement                                     Overture
ConductorName                        Damrosch, Walter
Interval                                 Intermission
Name: 0, dtype: object

We have everything we need.

In [14]:
class CategoryImputer(BaseEstimator, TransformerMixin):
    def __init__(self, strategy=None):
        if strategy:
            self.strategy = strategy
        else:
            self.strategy = 'most_frequent'

    def fit(self, X, y=None):
        if self.strategy == 'most_frequent':
            self.fills = X.mode(axis=0).squeeze()
            return self
        else:
            return 'Strategy not supported.'

    def transform(self, X):
        return pd.DataFrame(X).fillna(self.fills)


imputer = CategoryImputer()
X_train_ = imputer.fit_transform(X_train_)
X_train_.head()

,ComposerName,WorkTitle,Movement,ConductorName
56951,"Tchaikovsky, Pyotr Ilyich","ROMEO AND JULIET, FANTASY-OVERTURE",Overture,"Stokowski, Leopold"
81899,"Gershwin, George",SHALL WE DANCE: PROMENADE (ORCHESTRA) (ARR. Mo...,Overture,"Kostelanetz, Andre"
4401,"Bruckner, Anton","SYMPHONY NO. 9, D MINOR",Overture,"Klemperer, Otto"
11511,"Beethoven, Ludwig van","SYMPHONY NO. 5 IN C MINOR, OP.67",Overture,"Masur, Kurt"
19372,"Mozart, Wolfgang Amadeus","SYMPHONY NO. 39, E-FLAT MAJOR, K.543",Adagio – Allegro,"Ganz, Rudolph"

In [15]:
X_train_.isnull().sum()

ComposerName     0
WorkTitle        0
Movement         0
ConductorName    0
dtype: int64

There we go! What about the test set?

In [16]:
X_test_ = imputer.transform(X_test_)
X_test_.isnull().sum()

ComposerName     0
WorkTitle        0
Movement         0
ConductorName    0
dtype: int64

Victory awaits!

## 3.5 Everything together

Now, we want to fill in missing values and use one-hot-encoding (remember?), all at the same time.

We are reaching our destination!

In [17]:
megazord = Pipeline([('fill_na', CategoryImputer(strategy='most_frequent')),
                     ('encode', OrdinalEncoder())])

X_train_ = megazord.fit_transform(X_train)
X_test_ = megazord.transform(X_test)

This way we abstract all the logic of passing transformers around.

Now, can we throw a model in there? Perhaps we can.

(But we shouldn't, in a way. Please note that we are exemplifying data wrangling workflows.)

In [18]:
megazord = Pipeline([('fill_na', CategoryImputer(strategy='most_frequent')),
                     ('encode', OrdinalEncoder()),
                     ('k_means', KMeans())])

megazord.fit(X_train_)
megazord.predict(X_test_)

array([3, 7, 4, ..., 3, 0, 7], dtype=int32)

For the sake of simplicity, we are encoding categorical variables as if they were ordinal, instead of using one-hot-encoding, as recommended.

Take this for what it is: an example on how to build end-to-end pipelines for modeling in scikit-learn.